.Header {
    padding: 40px;
    text-align: center;
    background-color: #eeeeee;
    
    background-size: 100%;
}


.header {
    background-color: #638bb5;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerTitle {
    flex: 1;
}