.Book {
	display: list-item;
	margin: 20px;
	border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc;
	width: 200px;
	padding: 20px;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
	border-color: #343a40;
	
}