.singleBook {
	display: inline-block;
	margin: 20px;
	/* border: 1px solid black; */
	/* box-shadow: 0 2px 2px #ccc; */
	width: 600px;
	padding: 20px;
}

.checked {
  color: orange;
}

.card img {
	width: 15rem;
}

.bookTitle {
	flex: 1;
	padding: 2rem;
	display: flex;
	align-items: center;
}

.bookMainRow {
	display: flex;
	flex-direction: row;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid white;
}

.bookMainRow > div	{
	align-items: center;
	display: flex;
}